@import url(/assets/css/typography.css);
@import url(/assets/css/color.css);
@import url(/assets/css/button.css);

.color {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}