@import url(./assets/css/typography.css);
@import url(./assets/css/color.css);
@import url(./assets/css/button.css);
@import url(./assets/css/layout.css);

.content {
    background-color: white;
    border: 1px solid var(--color3);
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px auto);
}

@media(min-width:600px) and (max-width: 900px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:901px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    border: 1px solid var(--color1);
    padding: 5px;
}

.card img {
    width: 100%;
}