@import url(../shared/typography.css);
@import url(../shared/color.css);
@import url(../shared/button.css);
@import url(../shared/layout.css);

.content {
    background-color: white;
    border: 1px solid var(--color3);
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px auto);
}

@media(min-width:600px) and (max-width: 900px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:901px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    border: 1px solid var(--color1);
    padding: 5px;
}

.card img {
    width: 100%;
}

.card a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.card:hover a {
    color: var(--color1);
}